.mainimg{
    height: 755px;
    z-index: 1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    width: 1465px;
    max-width: 1920px;
    /* background-image: url('../image/mainback.jpeg');
    background-position: center;
    background-repeat: no-repeat; */
    background-color: white;
}
.logo{
    position: absolute;
    top: 450px;
    left: 500px;
}
.fullscreenvideo {
    position: absolute;
    width: 120%;
    height:120%;
    left: -80px;
}
.videocontainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}
.videocontainer:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
}