/* 导航栏样式 */
.navbar {
    .navbar {
        background-color:#f0f8ff; /* 更换主题色 */
    }
    /* 半透明效果 */
    transition: background-color 0.5s ease;
    /* 添加过渡效果 */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

.navbar a {
    color: #000000; /* 更换主题色 */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ccdff3; /* 更换主题色 */
    /* 半透明效果 */
    color: black;
}

.navbar .left {
    display: flex;
    align-items: center;
}

.navbar .right {
    display: flex;
    align-items: center;
}

/* 尾 */
footer {
    background-color: #f0f8ff5e; /* 更换主题色 */
    color: #333; /* 更换文字颜色 */
    padding: 10px 0;
    text-align: center;
    margin-top: 80px; /* 增加与上一个板块的距离 */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 5px;
    min-width: 150px;
}

.footer-section h2 {
    margin-bottom: 5px;
    font-size: 16px;
}

.footer-section p,
.footer-section a {
    margin: 5px 0;
    font-size: 14px;
    color: #333; /* 更换文字颜色 */
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 12px;
}
